.idea/

target/

out/

*.iml
modules.xml
.idea/misc.xml
*.ipr

.idea/.name
.idea/libraries/
.idea/modules/
.idea/modules.xml
.idea/scala_compiler.xml
.idea/tasks.xml
.idea/workspace.xml
.idea_modules/